/* Footer */
footer {
    background-color: #24551d;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

footer a {
    color: white;
    margin: 0 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff5e6;
}
.social-links {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.social-links .nav-link {
    color: #ffffff;
}

.social-links .nav-link:hover {
    color: #ff0000;
}

.social-links .fa {
    transition: transform 0.3s;
}

.social-links .fa:hover {
    transform: scale(1.2);
}
/* Product Card Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}